/* quick reset of browser settings, and includes padding/border/margin
in the total width of each element */
* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;

}

/* controls scroll behavior for nav bar links, and ensures that 
the nav bar is always visible at the top of the screen
without obscuring the page content */
html {
    scroll-padding-top: var(--header-height);
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding-bottom: 20px;
}

/* creates a "sticky" navigation bar that is always present at 
the top of the page. */
#sticky-bar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--theme);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    color: var(--theme-text);
}

nav {
    margin-right: 20px;
}

nav a {
    font-size: 20px;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    color: var(--theme-text);
}

.hero {
    height: 900px;
    width: 100%;
    box-sizing: unset;
    background-image: url("./images/austin-dog.png");
    background-size: cover;
    background-position: top left;
    opacity: .90;
}

#banner {
    text-align: center;
    width: fit-content;
    margin: auto;
    opacity: 1;
    color: var(--theme-text);
}

/* creates space for sticky nav bar */
main {
    margin-top: var(--header-height);
}

main section {
    padding: 15px;
    border: 10px;
    margin: 30px 0;
}

p {
    padding-top: 20px;
}

.works {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-items:auto;
    justify-content: space-around;
    width:fit-content;
}

.works section {
    margin: 20px;
    padding: 20px;
    background-color: var(--theme);
    color: var(--theme-text);
    position: relative;
}

/* creates an overlay on project photo tiles, to be removed on hover. */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    background-color: grey;
}

.overlay h3 {
    text-align: center;
    padding-top: 42%;
    padding-bottom: 42%;
    opacity: 1;
    color: var(--theme-text);
}

/* sends the overlay behind the photo, allowing access to the image hyperlink. */
.works section:hover .overlay{
    opacity: 0;
    z-index: -1;
}

#main-project img {
    height: 600px;
    width: 700px;
    display: block;
}

.works section {
    position: relative;
}

.projects img {
    height: 300px;
    width: 300px;
}

.contact {
    display: flex;
}

.contact p {
    width: 20vw;
    margin: 20px 30px;
}

/* creates a flexbox for the footer items */
footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: var(--theme);
    color: var(--theme-text);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
    /* Changes the nav bar to column arrangement and alters some element colors*/
    html {
        scroll-padding-top: var(--narrow-header-height);
        overflow: auto;
    }
    #sticky-bar {
        text-align: center;
        flex-direction: column;
        height: var(--narrow-header-height);
        background: var(--narrow-theme)
    }
    nav {
        margin-right: 0;
    }
    nav a {
        display: block;
        margin-right: 0;
    }
    /* sets the color darker when page is below 992px wide */
    main {
        margin-top: var(--narrow-header-height);
    }
    .works section{
        background-color: var(--narrow-theme);
    }
    footer {
        background-color: var(--narrow-theme);
    }
}

:root {
    --header-height: 70px;
    --theme: rgb(105, 204, 204);
    --theme-text: whitesmoke;
    --narrow-header-height: 200px;
    --narrow-theme: rgb(54, 97, 97);
}